# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/

# Logs
*.log

# Build
dist/
build/

# Node
node_modules/

# React Build
frontend/dist/
frontend/node_modules/